/**
 * common style sheet
 * Version: 1.0;
 * Author: Delacstrasz;
 */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 1026px;
    background: #f0f0f0;
    font-family: "Geneva","微软雅黑","幼圆",Sans-serif;
 }

h1, h2, h3, h4, h5, h6, hr, p, a, div, span, li, ul, ol, dt, dl, dd,fieldset, legend, button, input, textarea {
    font-family: "Geneva","微软雅黑","幼圆",Sans-serif;
}

a {
    text-decoration: none;
    color: #156bcb;
}

a:hover {
    color: #3385ff;
}

#header-bar {
    margin: 0;
    width: 100%;
    height: 135px;
    background: #3b182f; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b182f 0%, #693d55 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b182f), color-stop(100%,#693d55)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3b182f 0%,#693d55 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3b182f 0%,#693d55 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3b182f 0%,#693d55 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3b182f 0%,#693d55 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b182f', endColorstr='#693d55',GradientType=0 ); /* IE6-9 */
}

#header-wrapper {
    margin: 0 auto 0 auto;
    width: 1026px;
    height: 100%;
    position: relative;
}

#logo{
    top: 41px;
    left: 16px;
    position: relative;
    width: 291px;
    height: 94px;
    background-image: url("../img/spirite.png");
    background-repeat: no-repeat;
    background-position: 0  0;
}

#nav-menu-wrapper {
    margin: 8px auto 9px auto;
    width: 1026px;
    padding: 0;
}

#nav-menu {
    margin: 0 200px 0 auto;
    float: right;
    position: relative;
    list-style-type: none;
    padding: 0;
    overflow: visible;
}
#nav-menu li {
    display: block;
    padding: 0;
    margin: 0;
    float: left;
    font-family: "微软雅黑","幼圆", sans-serif;
    font-size:  1.2em;
}

#nav-menu li a {
    padding: 12px 19px 11px 19px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 5;
    color: #969696;
}

#nav-menu li a.hot {
    color: #ffffff;
}

#nav-menu li.backLava {
    position: absolute;
    background: #ab528b;
    padding: 12px 19px 11px 19px;
    z-index: 3;
}

div.group-header-bg {
    margin: 0;
    width: 1024px;
    height: 30px;
    position: relative;
    border: solid #dfdfdf 1px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

#footer-bar {
    margin-top: 98px;
    width: 100%;
    height: 273px;
    background: url("../img/bottom-gradient.png") repeat-x;
}

#nav-links-area {
    width: 1026px;
    height: 171px;
    margin: 16px auto 0 auto;
}

#nav-links-area ul {
    display: block;
    list-style-type: none;
    float: left;
    color: #ffffff;
    padding-right: 80px;
}

#nav-links-area a {
    color: #ffffff;
    text-decoration: none;
}

#nav-links-area a:hover {
    color: #a6deea;
    text-decoration: underline;
}

#nav-links-area ul li.list-title {
    font-size: 1.3em;
    display: block;
    border-bottom: 1px solid #b39faa;
    padding-bottom: 8px;
    margin-bottom: 9px;
}

#nav-links-area ul li {
    display: block;
    padding-bottom: 8px;
    font-size: 0.9em;
}

#copyright-info {
    text-align: center;
    width: 100%;
    clear: both;
    margin-top: 70px;
    color: #afafaf;
    font-size: 0.9em;
}

#sns_link a {
    display: inline-block;
    padding-left: 22px;
}

#user-container-wrapper {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 14px;
    background-color: #734760;
    border: 1px solid #8c687d;
    -webkit-border-radius: 2px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 12px; /* Firefox 1-3.6 */
    border-radius: 2px; /* W3C */
    -moz-box-shadow: 0 0 5px 0 #000000;
    -webkit-box-shadow: 0 0 5px 0 #000000;
    box-shadow: 0 0 5px 0 #000000;
    min-width: 134px;
}

#user-name-link {
    font-size: 1em;
    color: #ffffff;
    display: block;
    float: left;
    margin: 4px 18px 8px 30px;
    min-width: 5em;
}

#extend-panel-arrow {
    display: block;
    width: 11px;
    height: 7px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -291px 0;
    float: right;
    margin-top: 12px;
    margin-right: 9px;
}

#user-expand-panel {
    clear: both;
    width: 100%;
}

#user-small-avatar-frame {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 4px 8px 8px 8px;
    border: 1px solid #FFFFFF;
    -moz-box-shadow: 0 0 5px 0 #333333;
    -webkit-box-shadow: 0 0 5px 0 #333333;
    box-shadow: 0 0 5px 0 #333333;
}

#user-small-avatar {
    width: 100%;
    height: 100%;
}

#account-setting-link {
    font-size: 0.786em;
    color: #FFFFFF;
    display: block;
    margin: 8px 18px 4px 8px;
}

#enter-favorites-link {
    font-size: 0.786em;
    color: #FFFFFF;
    display: block;
}

.fancybox_fix_width {
    max-width: 95%;
}